/* Html body */
html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #EEF6FB;
}

/* Navbar config */
.container {
  margin: 0 100px 0 100px;
  width: 96.5%
}
.container-fluid {
  padding: 0 100px 0 100px;
  width: 96.5%
}
.navbar {
  padding: 1.5rem 0 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
.navbar-collapse {
  flex-grow: 0;
}

/* Nav link */
.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 1.2rem;
  position: relative;
  padding: 0 20px 0 20px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-bottom: 3px solid #005674;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  border-bottom: 3px solid #005674;
  color: #005674;
}

/* First section */
.home-section-1 {
  margin-top: 100px;
}
.home-text {
  line-height: 1.6;
  font-weight: 600;
  font-size: 60px;
}
.home-text-2 {
  color: #386EEB;
}
.btn-light {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-size: 18px;
  color: #ffffff;
  background-color: #386EEB;
}
.home-social {
  margin-top: 70px;
  display: flex;
}
.home-social-icon {
  padding: 0 20px 0 0;
  color: #313738;
}
.home-social-icon:hover {
  padding: 0 20px 0 0;
  color: #386EEB;
}
.home-circle {
  width: 380px;
  height: 380px;
  border-radius: 30% 70% 54% 46% / 30% 29% 71% 70% ;
  background-color: #386EEB;
  margin-left: 70px;
}

/* About section */
.about-head-text {
  text-align: center;
  margin-top: 35px;
  font-weight: 600;
  color: #386EEB;
}
.about-section {
  margin-top: 50px;
}
.about-img {
  width: 300px;
  border-radius: 2%;

}
#about-column {
  margin-top: 80px;
}
#about {
  padding-top: 50px;
  margin-bottom: 50px;
}

/* Skills section */
.skills-head-text {
  text-align: center;
  margin-top: 35px;
  font-weight: 600;
  color: #386EEB;
}
.skills-section {
  margin-top: 50px;
}
.skills-img {
  width: 450px;
  margin-top: 60px;
  margin-left: 55px;
}
.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: .5rem 1rem;
  margin-bottom: 20px;
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}
.skills-icon {
  color: #386EEB;
  margin-right: 10px;
}
.skills-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #386EEB;
  height: 4px;
  border-radius: 8px;
  z-index: 1;
}
.skills-html {
width: 95%;
}
.skills-css {
  width: 85%;
}
.skills-javascript {
  width: 65%;
}
.skills-ui-ux {
  width: 85%;
}
#skills {
  padding-top: 50px;
  margin-bottom: 50px;
}

/* Work section */
.work-head-text {
  text-align: center;
  margin-top: 35px;
  font-weight: 600;
  color: #386EEB;
}
.work-section {
  margin-top: 50px;
}
.work-img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
  border-radius: .5rem;
  overflow: hidden;
  margin: 0 0 20px 0;
}
#work {
  padding-top: 50px;
  margin-bottom: 50px;
}

/* Contact section */
.contact-head-text {
  text-align: center;
  margin-top: 35px;
  font-weight: 600;
  color: #386EEB;
}
